<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/static/ms-Dropdown-master/js/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script>
      function signOutGoogle() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          var xhr = new XMLHttpRequest();
          xhr.open('GET', 'http://CONFIG_FOR_GOOGLE/logout');
          xhr.send();
          /**setTimeout(function(){window.location.href='index'},750);**/
        });
      }
    </script>
  <div>
    <form action="" method="post" name="user_delete">
        {{ form.hidden_tag() }}
        <p><h2>You are about to delete your own user</h2>
        All transactions associated with your user will be deleted as well.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hit 'Delete' button to continue or Back to cancel.</p>
        <p>
        <div class="animals"><input onClick="$(this).parents('form').submit(); signOutGoogle();" type=submit value="Delete" style="background-color: #b37700; color: #ffffff; position: absolute; left: 30%;"></div>
        </p>
        </div>
          {{form.really_means_it.label}}{{form.really_means_it(style="width:2em;")}}
    </form>
  </div>
  <div style="height: 30em;"></div>

{% endblock %}
